<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card mb-3" *ngIf="!isLoading">
  <h4 class="card-header">Current tournaments ({{tournaments.length}})</h4>
  <div class="card-body">
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">Title</th>
          <th scope="col" class="">Users</th>
          <th scope="col">Add User</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="tournaments.length === 0">
        <tr>
          <td colspan="4">There are no tournaments in the DB. Add a new tournament below.</td>
        </tr>  
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let tournament of tournaments; index as index">
          <td [class.initiated]="tournament.initiated">{{tournament.title}} {{tournament._id}}</td>
          <a [routerLink]="['/tournament', tournament._id]">
            <td class="userList">{{tournament.userList}}</td>
          </a>
          <td>
	        <form class="form-inline" [formGroup]="addUserForm" (ngSubmit)="addUser(tournament, index)">
			  <input class="form-control mr-2" type="text" name="user" formControlName="user" placeholder="User">
		      <button class="btn btn-primary" type="submit" [disabled]="!addUserForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
			</form>
		  </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="enableEditing(tournament)"><i class="fa fa-pencil"></i> Edit</button> 
            <button class="btn btn-sm btn-danger" (click)="deleteTournament(tournament)"><i class="fa fa-trash"></i> Delete</button>
            <button class="btn btn-sm btn-success" (click)="initiateTournament(tournament)"><i class="fa fa-pencil"></i> Initiate</button> 
          </td>
        </tr>  
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="4">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editTournamentFromForm(tournament)">
              <input class="form-control mr-2" type="text" name="name" [(ngModel)]="tournament.title" placeholder="Title" required>
              <input class="form-control mr-2" type="text" name="userList" [(ngModel)]="tournament.userList" placeholder="userList">
              <button class="btn btn-sm btn-primary mr-2" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
              <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new tournament</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addTournamentForm" (ngSubmit)="addTournament()">
      <input class="form-control mr-2" type="text" name="title" formControlName="title" placeholder="Title">
      <button class="btn btn-primary" type="submit" [disabled]="!addTournamentForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
